html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

#playGamemodeButton {
  position: absolute;
  left: 45%;
  bottom: 80%;
  background-color: aqua;
  cursor: pointer;
  font-size: 60px;
  border-radius: 20%;
}

#minigameGamemodeButton {
  position: absolute;
  left: 42%;
  bottom: 60%;
  background-color: aqua;
  cursor: pointer;
  font-size: 60px;
  border-radius: 20%;
}