html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

/* All are styles relating to wordSort.html */

/* https://www.w3schools.com/howto/howto_js_draggable.asp */
.draggable-text-1 {
  position: absolute;
  font-size: 70px;
  left: 600px;
  top: 30px;
  max-height: 0px;
  cursor: move;
  background-color: aquamarine;
}
.draggable-text-2 {
  position: absolute;
  font-size: 70px;
  left: 1100px;
  top: 30px;
  max-height: 0px;
  cursor: move;
}
.draggable-text-3 {
  position: absolute;
  font-size: 70px;
  left: 1200px;
  bottom: 500px;
  max-height: 0px;
  cursor: move;
}
.draggable-text-4 {
  position: absolute;
  font-size: 70px;
  left: 700px;
  bottom: 500px;
  max-height: 0px;
  cursor: move;
}
.draggable-text-5 {
  position: absolute;
  font-size: 70px;
  left: 800px;
  bottom: 290px;
  max-height: 0px;
  cursor: move;
}

.input-text-1 {
  position: absolute;
  font-size: 70px;
  left: 50px;
  bottom: 500px;
}
.input-text-2 {
  position: absolute;
  font-size: 70px;
  left: 50px;
  bottom: 375px;
}
.input-text-3 {
  position: absolute;
  font-size: 70px;
  left: 50px;
  bottom: 250px;
}
.input-text-4 {
  position: absolute;
  font-size: 70px;
  left: 50px;
  bottom: 125px;
}
.input-text-5 {
  position: absolute;
  font-size: 70px;
  left: 50px;
  bottom: 0px;
}

.timer {
  text-align: center;
  font-size: 50px;
}

.game-result-text {
  font-size: 70px;
  position: absolute;
  left: 900px;
  bottom: 30px;
}

.home-button {
  position: absolute;
  left: 900px;
  width: 250px;
  height: 70px;
  bottom: 430px;
  visibility: hidden;
}