html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

#maze {
    margin-top: 5%;
    margin-left: 5%;
}
.wall {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #555;
  }